/* Navbar.css
.navbar-container {
      background-image: url('https://i.ibb.co/j5b8zH4/anothre-editedunsplash.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
   
      min-height: 100vh;
  
} */


/* Navbar.css */
.navbar-container {}

/* Additional styles for your Navbar elements (customize as needed) */
.navbar-container {
      background-image: url('https://i.ibb.co/pv4X4g5/kuddus.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 100vh;
}

/* Background image for the "events" route */
.navbar-container.events {
      background-image: url('https://i.ibb.co/2jxpMwz/Events-Background.jpg');
      min-height: 50vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
}

/* Background image for the "service" route */
.navbar-container.service {
      background-image: url('https://i.ibb.co/TTFMkq1/service-related-backgroundjpg.jpg');
      min-height: 50vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom;
}

/* Background image for the "contactUs" route */
.navbar-container.contactUs {
      background-image: url('https://i.ibb.co/vckGXpL/contact-Us.jpg');
      min-height: 50vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
}

.navbar-container.login {
      background-image: url('https://i.ibb.co/V23XbT7/This-will-be-login-K.jpg');
      min-height: 50vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

}

.navbar-container.signUp {
      background-image: url('https://i.ibb.co/V23XbT7/This-will-be-login-K.jpg');
      min-height: 50vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

}